@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype'),
		url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype'),
		url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

.box {
	max-width: 1125px;
	margin: auto;
}

header {
	position: absolute;
	width: 100%;
}

header .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0 4px;
	margin-bottom: 88px;
}

.menu_list {
	display: flex;
}

.menu_list li a {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.menu_list li {
	margin: 0 10px;
}

.call li:last-of-type {
	margin-right: inherit;
}

/* main_banner-------------------------------- */

.main_banner {
	background-image: url(../images/Rectangle.jpg);
	background-size: cover;
	min-height: 77vh;
	padding-top: 170px;
}

.main_banner h1 {
	font-family: 'Gothic A1', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 130%;
	color: #FFFFFF;
	text-shadow: 0px 0px 166px #000000;
	margin-bottom: 30px;
}

.main_banner article {
	max-width: 512px;
	display: flex;
	padding: 36px 50px 36px 31px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	box-sizing: border-box;
	margin-bottom: 98px;
}

.main_banner article p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
}

.main_banner article img {
	margin-right: 28px;
}

.main_banner a {
	padding: 20px 48px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #FFFFFF;
	background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
	box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}