@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype'),
		url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype'),
		url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

.box {
	max-width: 1110px;
	margin: auto;
}

header .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0 4px;
	margin-bottom: 88px;
}

.main_banner {
	background-image: url(../images/Rectangle.jpg);
	background-size: cover;
	height: 100vh;
}

.menu_list {
	display: flex;
}

.menu_list li a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	margin: 0 10px;
}

.main_banner header .connect li:last-of-type a {
	text-decoration: underline;
	margin: inherit;
	margin-left: 10px;
}

.main_banner .box h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 130%;
	color: #FFFFFF;
	text-shadow: 0px 0px 166px #000000;
	margin-bottom: 30px;
}

.main_banner .box article {
	max-width: 512px;
	padding: 36px 50px 36px 31px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	display: flex;
	box-sizing: border-box;
	margin-bottom: 98px;
}

.main_banner .box article p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
}

.main_banner .box article img {
	margin-right: 28px;
}

.main_banner .box .a_poeject {
	padding: 20px 48px;
	background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
	box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #FFFFFF;
}

/* section_two------------------ */

.two_banner .dot_big {
	width: 100%;
	margin-bottom: 160px;
}

.two_banner .box {
	display: flex;
	justify-content: space-between;
}

.two_banner article {
	max-width: 385px;
	margin-top: 24px;
}

.two_banner {
	padding: 14px 0 158px;
}

.two_banner article h2 {
	font-family: 'Gothic A1', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: #000000;
	margin-bottom: 60px;
}

.two_banner article p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
}

.two_banner .text {
	margin-bottom: 24px;
}

/* three_banner--------------------------- */

.three_banner .box {
	display: flex;
	justify-content: space-between;
}

.three_banner img {
	width: 100%;
	margin-bottom: 200px;
}

input {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	max-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 40px;
	border: none;
	border-bottom: #000000 1px solid;
}

textarea {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	max-height: 26px;
	resize: none;
	padding-bottom: 5px;
	border: none;
	border-bottom: #000000 1px solid;
	margin-bottom: 60px;
}

.form_wrap {
	max-width: 392px;
}

.three_banner h2 {
	font-family: 'Gothic A1', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: #000000;
	margin-bottom: 30px;
}

.three_banner a {
	padding: 20px 48px;
	background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
	box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	color: #FFFFFF;
}